* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    align-items: center; /* Alinear elementos verticalmente */
    justify-content: space-between; /* Espacio entre h1 y nav */
    background:#333;
    color: white;
    padding: 20px;
}

h1 {
    text-align: left;
    font-family: times, serif;
    font-size: 1.5rem;
    margin-left: 1rem;
}

h2 {
    font-size: 0.8rem;
    color: navy;
    text-align: left;
    margin: 1rem;
    text-align: left;
}

table{
    border: 1px solid #000;
    border-collapse: collapse;
    justify-content: center;
    padding: 15px 0 15px 0;
    Text-align: center;
 }
 .colortable th, td{
    width: 20%;
    max-width: 80px;
}

/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

section {
    display: flex;
    flex-direction: row;
    margin: 1em;
    text-align: center;
}

.wireframe{
    padding: 1em;
}

.wireframe p {
    margin: 1em;
}
/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

.active::before {
    content: "📍";
    /* just a wayfinding symbol for the user */
}



figure img {
    width: 100%;
    height: auto;
}

footer {
    background: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}


/* large view navigation ************************************/
@media (min-width: 37.5em) {


	h1 {
		font-size: 1.9rem;
		margin-left: 0;
		text-align: center;
	}
	h2 {
		font-size: 2rem;
	}
	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}


}

@media only screen and (min-width :  60em){
  
     img:hover {
        box-shadow: 0 0 50px #000;
    }
    
    
}