* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

:root {
    --main-bg-color: #333; /* Example background color */
    --main-text-color: white; /* Example text color */
    --main-padding: 20px; /* Example padding value */
  }
  
  header {
    background: var(--main-bg-color); /* Using the global background color variable */
    color: var(--main-text-color); /* Using the global text color variable */
    padding: var(--main-padding); /* Using the global padding variable */
    text-align: center;
    margin-bottom: 10px;
  }


.hero img {
    width: 100%;
    height: auto;
}

h1 {
    font-family: times, serif;
    font-size: 2.5rem;
    margin-left: 1rem;
}

h2 {
    font-size: 1.2rem;
    margin: 1rem;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}

.hero .box1 {

    background-color: aliceblue;
    /* Fondo transparente con opacidad */
    padding: 1rem;
    /* Añade espaciado interior según lo necesites */
}

.hero .box2 {
    position: relative;
    background-color: aliceblue;
    padding: 1rem;
    /* Añade espaciado interior según lo necesites */
}


.hero .box1 h2 {
    background-color: #333;
    color: white;
    padding: 0.5rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.hero .box1 h2::after {
    content: " (Data)";
    font-size: 0.8rem;
    color: #333;
}

.hero .box2 h2 {
   
    color: white;
    padding: 0.5rem;
}


.hero .box1 p,
.hero .box2 p {
    padding: 0.3rem;
    text-align: center;
}




.hero .box2 div {
    background-color:  #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.hero .box2 img {
    width: 50px;
    /* Ajusta el ancho de la imagen según sea necesario */
    height: auto;
    margin: 0;
}